body{
color:antiquewhite;
background:grey ;

}

.heading{
width: 80%;
font-size: 22px;
}

#camera{
border:2px dashed black;
width: 350pxl;
height: 300pxl;
}

.name_of_objects, #result_object_name , #result_object_accuracy{
color: yellow;


}